/ {
    chosen {
        zephyr,console = &raw_cdc;
        /delete-property/ zephyr,shell-uart;
        /delete-property/ zephyr,uart-mcumgr;
        /delete-property/ zephyr,bt-mon-uart;
        /delete-property/ zephyr,bt-c2h-uart;
    };
};

&zephyr_udc0 {
    raw_cdc: raw_cdc {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&uart0 { status = "disabled"; };
&qspi { status = "disabled"; };
&i2c0 { status = "disabled"; };
&spi2 { status = "disabled"; };
